@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
  background-color: #C2DFFF;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1640px;
}

.sort-options-container {
  margin: 2% 0% 0% 7%;
  font-size: 16px;
}

.sort-drop-down {
  border: 1px solid #C0C0C0;
  width: 150px;
  font-size: 14px;
  margin-left: 5px;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 2% 0% 0% 7%;
}

@media(max-width: 1440px) {
  .sort-options-container {
    margin-left: 5%;
  }

  .flex-row{
    margin-left: 5%;
  }
}

@media(max-width: 1024px) {
  .sort-options-container {
    margin-left: 1%;
  }

  .flex-row{
    margin-left: 1%;
  }
}

@media(max-width: 768px) {
  .sort-options-container {
    margin-left: 2.5%;
  }

  .flex-row{
    margin-left: 2.5%;
  }
}

@media(max-width: 425px) {
  .sort-options-container {
    margin-left: 25%;
  }
}

@media(max-width: 320px) {
  .sort-options-container {
    margin-left: 14%;
  }

  .flex-row{
    margin-left: 3%;
  }
}
