body {
  background-color: #C2DFFF;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1335px;
  margin: 0 auto;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;

  &-item {
    height: 500px;
    -ms-flex-preferred-size: 18%;
        flex-basis: 18%;
    -ms-flex: auto;
    // width: 259px;
    margin: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.item-container {
  background-color: white;
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 4px;
  border: 1px solid #C0C0C0;
  box-shadow: 3px 3px rgba(128,128,128, 0.2);
}

.item-image{
  position: relative;
  height: 45%;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  &-bridge {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  &-tile {
    position: relative;
    top:0;
    left:0;
    max-height: 100%;
    max-width: 100%;
  }

  &-place-holder {
    position: absolute;
    top: 17%;
    left: 10%;
    max-height: 80%;
    max-width: 80%;
  }
}

.item-content {
  padding: 20px 20px 20px 20px;
}

.item-heading {
  text-transform: capitalize;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 20px;
}

.item-sub-heading {
  text-transform: capitalize;
  color: rgba(0,0,0, 0.7);
  font-size: 14px;
}

.line-break {
  position: absolute;
  width: 82%;
  bottom: 40px;
  margin-left: 9%;
  border-top: 3px solid rgba(211,211,211, 0.3);
}

.item-price {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25px;
  margin: 10px 10px 5px 0px;
  font-size: 20px;
  font-weight: 600;
  color: 	#3CB371;
}

.item-price::before {
  content:"$";
}

@media(max-width: 1333px) {
  .grid-item {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
  }
}
@media(max-width: 1073px) {
   .grid-item {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
  }
}
@media(max-width: 815px) {
  .grid-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media(max-width: 555px) {
  .grid-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
